.mainContent{
    margin-top: 60px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    list-style: none;
}

.link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.portofolio {
    background-color: #50777a;
    padding: 20px 5px;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
}

.contact {
    text-align: center;
    margin-top: 30px;
    background-color: #50777a;
    border-radius: 15px;
    padding: 20px 5px;
}

.contact:hover {
    background-color: #486b6d;
}

.about {
    text-align: center;
    margin-top: 30px;
    background-color: #50777a;
    border-radius: 15px;
    padding: 20px 5px;
}

.about:hover {
    background-color: #486b6d;
}