.mainIcon {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 40px;
}

.icon {
    font-size: 25px;
    color: #ffff;
    display: flex;
    gap: 20px;
}

.icon .icon-bg {
    width: 55px;
    height: 55px;
    background-color: #50777a;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.icon .icon-bg:hover {
    background-color: #486b6d; 
}

.icon-bg a {
    color: #ffff;
}