.avatar {
    width: 150px;
    height: 200px;
    border-radius: 40%;
    margin: auto;
    position: absolute;
    top: 15vh;
    left: 0;
    right: 0;
}

.profil {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.nama {
    display: flex;
    /* gap: 10px; */
    flex-direction: column;
    justify-content: center;
}

/* .nama h3 {
    color: #000;
    font-weight: bold; 
    justify-content: center;
} */

.nama .text-intro {
    display: flex;
    background-color: #D7DBDD;
    justify-content: center;
    border-radius: 25px;
    width: 100%;
    height: 6vh;
    align-items: center;
    overflow: hidden;
}

.nama h2 {
    padding: 0;
    margin: 0;
    color:#D7DBDD;
}

.nama h3 {
    animation: hallo 4s infinite;
}

@keyframes hallo {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0);
    }
}


.nama .text-intro p {
    animation: hand 2s infinite;
    font-size: 25px;
}

@keyframes hand {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(50deg);
    }
    100% {
        transform: rotate(0);
    }
}