.avatar img {
    width: 50%;
    height: 150px;
    border-radius: 40%;
    margin: auto;
    position: absolute;
    top: 16vh;
    left: 0;
    right: 0;
}

.nama {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 100px;
    gap: 8px;
    text-align:justify ;
}

.nama h4 {
    color: #D7DBDD;
}

.nama h3 {
    color: #D7DBDD;
    font-weight: bold;
}