.nopage {
    color: #fff;
    height: 150px;
    justify-content: center;
    align-items: center;
}

.nopage h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.nopage h3 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -25%);
}